.main-footer {
    color: black;
    padding-top: 3em;
    bottom: 0;
    width: 100%;
    background-color: #fbfdff;
    text-align: center;
  }
  .main-footer a{
    color: black;
  }
  .icon{
    font-size: 20px;
  }